<html>
    <head>
        <title>Django Countries blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Countries Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mexico Post</a></h2>
            <p>Mexico is a country located between the United States and Central America. It is famous for its beaches on the coasts of the Pacific Ocean and the Gulf of Mexico and its diverse landscape. Mountainous terrain, deserts and rainforests meet here. Throughout the country, the ruins of rising structures can be seen, such as Teotihuacan and Chichen Itza from Mayan times. There are also many cities of the era of Spanish colonization. The capital of Mexico, Mexico City, is a social city with upscale shopping, famous museums and fine restaurants.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Italy Post</a></h2>
            <p>Italy is a Mediterranean country in Southern Europe with a long coastline that has had a huge impact on Western culture and cuisine. On the territory of the country's capital, Rome, is the state of the Vatican, as well as world-famous museums and ancient ruins. Other major cities in Italy are Florence, where you can see Renaissance masterpieces, such as the statue of David by Michelangelo and the Duomo, designed by the architect Brunelleschi, as well as the canal city of Venice and the fashion capital of Milan.</p>
        </div>
    </body>
</html